
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-color: #ff8243;
}
.site-header{
    background-color: white;
}
/* BODY */
.div_container{
    background-image: url(https://mobimg.b-cdn.net/v3/fetch/b4/b47511c60f0c90cd458db24d8006758f.jpeg);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_0 {
    border: 2px solid var(--main-color);
    border-radius: 10px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 4px 20px #edcec0, 7px 5px 20px #d4d2d1;
}
.container_0:hover {
    transform: scale(1.01);
}
.header_0 {
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}
.header_1 p{
    text-align: justify;
    width: 120px;
    padding: 10px 0 0 0;
}
.header_1{
    border-color: var(--main-color);
    padding: 3px 4px;
    color: var(--main-color);
    font-weight: 600;
    text-align: center;
    justify-content:center;
    width: 100%;
    display: flex;
}
.header_title {
    display: table-cell;
    padding-left: 30px;
}
.ais-SortBy-select{
    outline: none;
    border-color: var(--main-color);
    padding: 5px 5px 5px 10px;
    color: var(--main-color);
    font-weight: 500;
    text-align: center;
    width: 226px;
}
.header_2{
    height: 35px;
    outline: none;
    resize: none;
    color: var(--main-color);
    width: 200px;
    border: 1px solid var(--main-color);  
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}
.controls_1{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 0px 10px 10px 10px;
}
.key{
    background-image: linear-gradient(to right, #f46b45 0%, #eea849  51%, #f46b45  100%);
    border: 0 solid #ffffff;
    margin: 5px;
    padding: 8px 30px;
    text-align: center; 
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.key:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    background-image: linear-gradient(to right, #f46b45 0%, #eea849  51%, #f46b45  100%);
    border: 0 solid #ffffff;
    margin: 5px;
    padding: 8px 30px;
    text-align: center; 
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn-primary:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}
.header_21{
    height: 35px;
    border-radius: 5px;
    outline: none;
    resize: none;
    color: var(--main-color);
    width: 30%;  
    border: 1px solid var(--main-color);  
    padding: 5px 5px 5px 10px;
}

.type_input {
    display: flex;
    padding-left: 16%;
}
/* css của hình ảnh */
.human-list {
    position: relative;
    background-color: white;
    padding-top: 115px !important;
}
.dish-box {
    border-radius: 30px;
    background: white;
    border: 1px solid var(--main-color);
    display: flow-root;
    padding: 0 0px 0px;
    margin: 130px 0 0px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    width: 420px;
}
.box {
    position: relative;
    margin-top: 108px;
    padding-top: 90px !important;
}
.dist-img {
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
}
.dist-img img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
    object-fit: cover;
}
.gr-img {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.camera-above {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-top: 20px;
    left: 0;
    border: 1px solid var(--main-color);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0)
    );
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.3s ease;
}
.camera-above:hover {
    background-position: top;
}

.camera-above i {
    color: var(--main-color);
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}